In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
%matplotlib inline

Drug Type prediction using RandomForest Classifier

In [3]:
df = pd.read_csv('drug200.csv')
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [4]:
df.isna().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [7]:
df.describe()

              Age     Na_to_K
count  200.000000  200.000000
mean    44.315000   16.084485
std     16.544315    7.223956
min     15.000000    6.269000
25%     31.000000   10.445500
50%     45.000000   13.936500
75%     58.000000   19.380000
max     74.000000   38.247000

In [6]:
from sklearn import preprocessing

In [7]:
X = df.drop(columns = ['Drug']).values
X[0:5]

array([[23, 'F', 'HIGH', 'HIGH', 25.355],
       [47, 'M', 'LOW', 'HIGH', 13.093],
       [47, 'M', 'LOW', 'HIGH', 10.114],
       [28, 'F', 'NORMAL', 'HIGH', 7.798],
       [61, 'F', 'LOW', 'HIGH', 18.043]], dtype=object)

In [8]:
for column in df[['BP', 'Cholesterol']]:
    column
    print(df[column].value_counts())
    print('')

HIGH      77
LOW       64
NORMAL    59
Name: BP, dtype: int64

HIGH      103
NORMAL     97
Name: Cholesterol, dtype: int64

In [9]:
Y = df['Drug']
Y.head()

0    DrugY
1    drugC
2    drugC
3    drugX
4    DrugY
Name: Drug, dtype: object

In [10]:
cl_sex =preprocessing.LabelEncoder()
cl_sex = cl_sex.fit(['F', 'M'])
X[:,1] = cl_sex.transform(X[:,1])


cl_bp =preprocessing.LabelEncoder()
cl_bp = cl_bp.fit(['HIGH', 'LOW', 'NORMAL'])
X[:,2] = cl_bp.transform(X[:,2])

cl_cho =preprocessing.LabelEncoder()
cl_cho = cl_cho.fit(['HIGH', 'NORMAL'])
X[:,3] = cl_cho.transform(X[:,3])

X[0:5]

array([[23, 0, 0, 0, 25.355],
       [47, 1, 1, 0, 13.093],
       [47, 1, 1, 0, 10.114],
       [28, 0, 2, 0, 7.798],
       [61, 0, 1, 0, 18.043]], dtype=object)

In [57]:
from sklearn.model_selection import train_test_split

In [58]:
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.3, random_state=4)

In [59]:
print(x_test.shape)
print(x_train.shape)
print(y_test.shape)
print(y_train.shape)

(60, 5)
(140, 5)
(60,)
(140,)

In [83]:
trees = DecisionTreeClassifier(criterion='entropy', max_depth=5)
trees

DecisionTreeClassifier(criterion='entropy', max_depth=5)

In [84]:
trees.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=5)

In [85]:
yhat = trees.predict(x_test)
yhat[0:5]

array(['DrugY', 'DrugY', 'DrugY', 'DrugY', 'drugC'], dtype=object)

In [86]:
print(yhat[0:5])
print(y_test[0:5])

['DrugY' 'DrugY' 'DrugY' 'DrugY' 'drugC']
11     DrugY
99     DrugY
128    DrugY
175    DrugY
1      drugC
Name: Drug, dtype: object

In [18]:
rf = RandomForestClassifier()
cvs = cross_val_score(rf,X,Y,cv=5 )

In [22]:
print('Average score is:', cvs.mean())

Average score is: 0.9800000000000001